<div class="colorful-strip"></div>
<nav class="navbar navbar-expand-md navbar-light bg-transparent mt-1">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/themes/satellite-5-theme/assets/images/logo.png" alt="logo"
                class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">ESNCard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Join us</a>
                </li>
                <!-- handle this later -->
                <li class="nav-item">
                    <a class="nav-link" href="#">ES ▽</a>
                </li>
                <li class="nav-item d-flex align-items-center navbar-social-links">
                    <div class="social-link github" style="background: #BDBDBD;"></div>
                    <div class="social-link linkedin" style="background: #00AEEF;"></div>
                    <div class="social-link instagram" style="background: #EC008C;"></div>
                    <div class="social-link facebook" style="background: #014EA8;"></div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="hero bg-esn-cyan position-relative d-flex">
    <div class="hero-image-wrapper">
        <img src="/themes/satellite-5-theme/assets/images/hero-image.png"
            class="p-d-block mx-lg-auto img-fluid position-absolute hero-image" alt="ESN people" loading="lazy">
    </div>
    <div class="container hero-message-container">
        <div class="row">
            <div class="hero-message">
                <h1 class="display-5 fw-bold">ESN Section</h1>
                <p class="lead">Your best Erasmus experience starts here! We are working hard to make your stay even better. Join our events ! Bla bla very nice text here or the newest important news?</p>
                <div class="gap-2 d-md-flex">
                    <a class="btn btn-link action-link" href="#">READ MORE ABOUT US</a>
                </div>
            </div>
        </div>
    </div>
</div>