<div class="colorful-strip"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent mt-1">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/themes/satellite-5-theme/assets/images/logo.png" alt="logo" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">ESNCard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Join us</a>
                </li>
                <!-- handle this later -->
                <li class="nav-item">
                    <a class="nav-link" href="#">ES ▽</a>
                </li>
                <li class="nav-item">
                    <div class="square"></div>
                </li>
            </ul>
        </div>
    </div>
</nav>