// ------------------------------------------------
//  ESN COLORS
// ------------------------------------------------

$esn-cyan:      #00aef0;
$esn-green:     #7ac143;
$esn-magenta:   #ed008c;
$esn-orange:    #f57b20;

$esn-colors: (
  "esn-cyan": $esn-cyan,
  "esn-green": $esn-green,
  "esn-magenta": $esn-magenta,
  "esn-orange": $esn-orange,
);

$gray-10: #333333;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
);
