$strip-color-length: 80px;

.colorful-strip {
    width: 100%;
    height: 10px;
    background: repeating-linear-gradient(
        90deg, 
        #00aef0, #00aef0 ($strip-color-length - 1), 
        white ($strip-color-length - 1), white $strip-color-length, 
        #ed008c $strip-color-length, #ed008c ($strip-color-length*2 - 1), 
        white ($strip-color-length*2 - 1), white ($strip-color-length*2), 
        #7ac143 ($strip-color-length*2), #7ac143 ($strip-color-length*3 - 1), 
        white ($strip-color-length*3 - 1), white ($strip-color-length*3), 
        #f57b20 ($strip-color-length*3), #f57b20 ($strip-color-length*4 - 1), 
        white ($strip-color-length*4 - 1), white ($strip-color-length*4));
}