.navbar {
    .navbar-toggler {
        border: none;
        margin-right: -10px;
    }

    .navbar-social-links {
        margin-left: 38px;

        .social-link {
            width: 16px;
            height: 16px;
            margin-right: 10px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}